

/*-------- BODY COMMUN------*/

body{
    margin: 0;
    height: auto;
   
    background: linear-gradient(#e0ffff, #deb887);
}

h1{
    text-align: center;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    letter-spacing: 1vw;
    padding: 8px;
}
h2{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.3vw;
  
}
h3{
  padding-top: 55px;
 
  text-decoration: underline 5px solid rgb(137, 145, 90);
 
}
h4{
  font-family:'Lucida Sans', 'Lucida Sans', sans-serif ;
  text-align: center;
  padding-top: 100px;
}
#laotseu{
  border-bottom: 3px solid black;
}
#hautDePage{
    background: linear-gradient(180deg, rgba(192,255,255,1) 20%, rgba(222,236,236,0.2) 90%, rgba(158,170,170,0.5) 100%);
    border-end-end-radius: 20% 20%;
    border-left: 0.3px solid grey;
}
#logo{
    height: 15vh;
    padding-top: 2.5vh;
}
#logo img{
    width: 13vw;
    position: absolute;
    top: 1%;
    right: 4%;
    height: 10vh;
}

ul{
    list-style: none;
}
ol li{
  margin-top: 5vw;
}
#liens{
        background: linear-gradient(90deg, rgba(196,196,196,1) 0%, rgba(222,236,236,0.5) 80%, rgba(224,255,255,0.2) 100%);
    border-bottom: 3px solid white;
    border-end-end-radius: 20% 20%; 
    height: 3vh;
    width: 35vw;
    margin-top: -4%;
}
#liens ul {
    display: flex;
    margin-left: -5vw;
    margin-top: 10%;
  justify-content: space-around;

}
#liens ul img{
    width: 4vw;
    height: 3vh;
    margin-top: 10%;
    border-radius: 30%;
}


.encadre{
  /* box-shadow: inset -9px -11px 10px -2px #ecec0d2f; */
  padding-bottom: 10px;
  /* border-bottom-left-radius: 20%; */
}

.liensite{
  color: rgb(233, 154, 45);
  letter-spacing: 5px;;
  font-size: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 3px solid rgba(255, 255, 255, 0.276);
  background-color: rgba(255, 255, 255, 0.383);
  padding: 2px 20px 2px 20px;
  border-radius: 0% 40% 0% 40%;
}
.liensite:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.907);
}
.hyperlien{
  color: rgb(233, 154, 45);
}
.hyperlien:hover{
  color: black;
 background-color: rgba(245, 245, 245, 0.489);
 font-style:oblique;
}
/*---- NAVIGATION ------*/


/*------ ECRAN -------*/
@media screen and (min-width:770px){
  #liens ul li:hover{
    transform: scale(2.5);
  }
  #menu__toggle{
    display: none;
  }
#menus{
  display: flex;
 margin-top: 2%;;

  white-space: nowrap;
  font-family: Bradley Hand;
  font-size: 25px;



}
#menus li a{
color: black;

     text-decoration: none;
  list-style: none;
 
}

#menus a:link:hover{  

  border-radius: 42px;

  box-shadow: inset 13px 13px 26px #c27c0463,
              inset -13px -13px 26px #ffc906a4,
              5px 5px 5px grey;
}
.menu__item{
  background: radial-gradient(circle, rgba(249, 249, 249, 0) 1%, rgba(191, 201, 180, 0.434) 1%, rgba(250, 250, 250, 0.411) 60%); 
  padding: 3%;
  margin: 4vw;
  border-radius: 12px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  5px 5px 10px #d3d3d3,
               -5px -5px 10px #ededed;
}

#mange{
  padding: 2% !important;


}

}
/*---- SMARTPHONE ----*/
@media screen and (max-width:770px){ 
#menu__toggle {
    opacity: 0;
  
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed !important;
    top:7%;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
    
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 10px;
    left: -100%;
    width: 100%;
   
    margin: -4%;
    padding: 15vh 0px 0px 0px;
 
    list-style: none;
    background-color: rgba(245, 245, 245, 0.59);
    
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    border-top-right-radius: 20%;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition-duration: .25s;
   border-bottom: 0.3px solid grey;
  background-color:#CFD8DC;
  
  }
  .menu__item:hover {
    background-color:  rgba(192, 255, 255, 0.758);
    color: black;
 
  }

  #nav{
    height: 20%;
  
    
  }
  #logo img{
    width: 7vw;
    height: 7vh;
  }
  h1{
    margin-top: 35px !important;
  }
}








/*---- PRESENTATION ---*/

#presentation img{
    width: 15vw;
    margin: 10%;
    border-radius: 30%;
    margin: 1vw;
    
}
#presentation{
    text-align: center;
    margin: 3vw;
    margin-top: 10vh;
}


/*-------- QU'EST CE QU'ON MANGE-------------*/

/*-----------TABLEAU ASTROLOGIE------------*/



#cadre{
  background: rgba(163,209,231,0.3757702910265669) 66%;
  box-shadow: 0.3px 0.3px 4px 0.5px black;
  height: 40%;
border: 2px solid white;
padding: 2%;
margin-top: 3%;;
}

#tout{
 
 padding: 1%;
 
}
@media screen and (max-width:770px){ 
  #tout{
    display: flex;
    flex-direction: column;
  }
#user, #clicvalid, #userreponse{
  width: auto;

}
#cadre{

 font-size: 0.8em;
}
#clicvalid{
  margin-top: -80px;
  margin-bottom: -30px;
}
}
#user{
  background: rgb(246,246,246, 40%);
  
 padding: 1%;
  text-align: center;
  line-height: 45px;
  box-shadow: 3px -4px 2px -1px rgba(246,246,246,0.8), -4px 4px 6px 0px rgb(255, 255, 255) inset;
}

#userreponse{
  background: rgb(246,246,246, 40%);
 padding: 1%;
  text-align: center;
  line-height: 80px; 
    box-shadow: -3px -4px 2px -1px rgba(246,246,246,0.8), 4px 4px 6px 0px rgb(255, 255, 255) inset;
  }


#clicvalid{
padding-top: 20%;
  height: 15em;

  display: flex;
 
  justify-content: center;
}
#valid{
 
  height: 10vh;
  background: rgba(73,115,237,40%);
  box-shadow: 1px 1px 1px black, 5px 5px 7px -3px #edede1 inset;
}
#valid:hover{
  background-color: #4edb73;
}

/*---------------------------*/

#legendastro {
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 2em;
  letter-spacing: 0.7em;
  color: rgba(73,115,237,80%);
  
}

.datein{
  width: 15em;
  height: 1.5em;
  text-align: center;
}
.comuser{
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 1.2em;
}

.comuser2{
  font-size: 1.5em;
}


  /*------------calculette-------------.*/
  
  @media screen and (max-width:770px){ 
    #calc{
margin-left: -100px;
       width: 100vw;
    }
}

  #calculette{
    width: 40%;
    height: 30%;
  margin: auto;
    margin-bottom: 10%;
    overflow: hidden;
    
  border-radius: 5%;
  background: linear-gradient(145deg, #2F4F4F, #2F3F4F);
  box-shadow:  5px 5px 10px #748585 inset,
               -4px -4px 10px #748585 inset;
   
  }
  
  #ecran{
    width: 80%;
    height: 15%;
    border: 1px solid black;
    margin: 10%;
    text-align: center;
    overflow: hidden;
    border-radius: 5%;
  background: #676767;
  box-shadow: inset 5px 5px 0.1px #585858,
              inset -5px -5px 0.1px #767676;
    
    -webkit-border-radius: 5%;
  border-radius: 5%;
  background: #D1D8EC;
  
  }
  #btns{
    display: flex;
    flex-direction: column;
  
     margin: 10%;
    
    
       
  }
  
  #bloc0, #bloc1, #bloc2, #bloc3, #bloc4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .btnC{
    font-weight: bold;
   width: 20%;
    height: 3em;
    
  border-radius: 15%;
  background: linear-gradient(145deg, #a7a7a7, #c6c6c6) ;
   box-shadow: 
      12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
      -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
  
  background: #598c67;
  box-shadow:  2px 2px 6px #507e5d,
               -2px -2px 6px #629a71;
  }
  .btnC:hover{
    background-color: green;
  }
  #retour{
    margin: 50px;
    font-size: 1.5em;
    line-height: 4em;
  }
  
  #AC{
   color: rgba(255,75,30,8);
  }
  #egual{
     width: 73%;
    
  }
  
  .op{
    color: orange;
    border-radius: 50px;
  
  }

  /*------------------------------*/

  /*------ PRISE DE CONTACT ------------*/

  @media screen and (max-width: 770px)
{
  fieldset{
    font-size: 0.7em;
  }
  #lumiere{
    font-size: 1.5em !important;
    letter-spacing: 2px;
  }
  #tab0{
    font-size: 1.5em !important;
    white-space: nowrap;
    letter-spacing: 2px;
   
  }
  .titre{
  
    font-size: 1.6em !important;
    letter-spacing: 0.4px !important;
   
   
  
    
  }
  .texte{
       text-align: center;
   padding: 6%;
    display: block !important; 
   
  }
  #cache1{
    font-size: 1.5em !important;
    margin-top: -20% !important;
    margin-left: -40% !important;
  }
}



#tete{
   -webkit-box-shadow: 8px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D; 
box-shadow: 8px 0px 0px 0px #4E4E56, 0px 8px 0px 0px #B1938B, -8px 0px 0px 0px #4E4E56, 0px 0px 0px 8px #DA635D;
 border-radius: 50%;
  background-color: gainsboro;
  margin-top: 20px;
  position: relative;
   z-index: 1;
}
#lumiere{
  text-align: center;
  font-size: 3em;
    font-weight: bold;



background: #FFFCA8;
text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
  letter-spacing: 25px;
  margin-bottom: 45px;

  padding-top: 10px;
margin-top: -15px;
  margin-bottom: 70px;
  padding-bottom: 10px;

  border-top: 10px solid white;
 border-radius: 50%;
 


 

  background-color: white;

  
animation-name: light;
   animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
   background: linear-gradient(90deg, gainsboro, white 60%, gold, gainsboro);
        background-repeat: no-repeat;
        background-size: 80%;
}
#cache1{
  font-size: 2em;
  position: absolute;
  margin-top: -7.5rem ;
  margin-left: -18rem;
  color: gainsboro;
  opacity: 70%;
  z-index: 0;

 
 
}


#cache{
  position: relative;
  z-index: 4;
  font-size: 1.5em;
  animation-name: cache;
   animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes light {
  0% {background-position: -500%; }
  50%{background-position: 50%; }
  100% {background-position: 500%;}
}
@keyframes cache {
  0% { opacity: 0%; }
  25% {opacity: 25%}
  35%{opacity: 80%}
  50%{opacity: 100%; }
  70%{opacity: 10%;}
  90% {opacity: 0%;}
  100%{opacity: 0%;}
}




#boite{
   position: relative;
   z-index: 1;
  padding-top: 10px;

}
#bord{
  z-index: 3;
border-top: 7px solid #B1938B;
  border-top-right-radius: 20pt;
  box-shadow: 4px 4px 0px 1px #4E4E56 inset;
  margin-top: -3%;
padding-left: -10px;
  width: 99.8%;


}
#inscription{
  margin: auto;
  width: 90%;
  height: 100%;
margin-left: 5px;
  position: relative;
   z-index: 1;
}
.inscrire {
 
background-color: white;
filter: drop-shadow(0 0 0.15rem grey);
 
  font-size: 1.5em;
  margin: auto;
  padding-bottom: 50px;
text-align: center; 
  height: 40px;
  width: 175px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
 

  
}
.inscrire:hover{
  background-color: #FFFCA8;
  box-shadow: 1px 1px 1px 1px white;
  color: red;
   -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        box-shadow: 1px 5px 14px rgba(0, 0, 0, 3);
      
}

.nbr{
 
  font-weight: bold;
}

.exp{
  padding: 13px;
  display: flex;
  width: 95%;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#souhait {
  display: flex; 
  font-weight: bold;
  letter-spacing: 12px;

  margin-left: 20%;
 
}
#tab0{  
  font-family: Suranna;
  position: relative;
  font-size: 2em;

background: white;
  padding-left: 10%;
   padding-right: 40%;

  margin-left: 10%;

  margin-top: 1%;
    height: 50px;


  border-bottom-right-radius: 10pt;
  border-bottom: 8px solid #DA635D;
overflow: hidden;
box-shadow: 68px 0px 0px 0px #DCD0C0, 0px 8px 0px 0px #B1938B, -18px 0px 0px 0px #4E4E56, 0px 0px 0px 00px #DA635D, 0px 4px 9px 5px rgba(4,4,4,0);
  text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px;
  
}
#tab{
 position: relative;
  z-index: 1;
  color: white;
margin-left: 25%;
  margin-right: 2%;
width: 60%;
  border-bottom: 0px;

  height: 50px;


-webkit-box-shadow: -5px -5px 5px 0px white; 
box-shadow: 0px 5px 5px 0px white ;
  border-top-right-radius: 60pt;

  background-color: rgba(0,175,174,0.2);

  
  color: #005900;
background: #FFFCA8;

color: #005900;
background-color:rgba(0,175,174,0.2)
  
}
.texte{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  
perspective: 500px;
  perspective-origin: left  ;  
  border-bottom: 0.5px solid rgba(42, 182, 163, 0.4);

    }

  
   

.atelier{
     
 width: 80vw;

 margin-left: 5%;

 background: linear-gradient(12deg, rgba(255,255,255,0.7239819004524887) 0%, rgba(255,248,227,1) 75%, rgba(255,224,138,1) 100%);
}
.ate{
  font-size: 1.5em;
 text-align: center;
  margin: auto;
   font-weight: bold;
  
 
}
#reponse, #reponse2, #reponse3{
 width: 100%;
   padding: 8px;
  background-color: white;
}

.titre{
  
  padding-left: -3%;  
 
  background-color: rgba(240, 43, 221, 0.5);
 background: linear-gradient(
            to right, #eedd44, #ff6b08,
             #cf23cf, #005900);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
  
  -webkit-text-stroke: 0px;

 margin-left: -10%;
width: 70%;
  background-color: rgba(4,4,4,0.1);
  justify-content: flex-start; 

  font-weight: bold;
  font-size: 3em;
  letter-spacing: 6px;
  padding-top: 10px;
 
  border-bottom: 1px solid black;
 
  

  transform: rotateY(40deg);
  
  display: inline;
}
.quand{
 
 
width: 40%;
  text-align: center;
  font-size: 2em;
  
  
   
      background-image: url(https://dc28c2r6oodom.cloudfront.net/p/h/012.jpg);
background-image-repeat: repeat;
background-position-x: 15%;
background-position-y: top;
background-size: contain;
filter: blur(0px);
font-family: "Old Standard TT", serif;

font-style: normal;

mix-blend-mode: none;
opacity: 1;


      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
  @font-face { font-family: "Old Standard TT", serif; src: url(https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@1,400&family=Old+Standard+TT:wght@400&family=Old+Standard+TT:ital,wght@1,700&family=Old+Standard+TT:wght@700); }
    }
  


.dispo{
  -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}
#sorry, #sorry2, #sorry3{
  margin-top: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #005900;

}

#choix div{
  display: flex;
  font-weight: bold;

}
#choix{
  padding-left: 20px;
}
#choix label{
  padding: 10px;
}

.fleche{
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  text-shadow: #FFFCA8 2px 2px 0px, #4E4E56 3px 3px 3px;
}




/*--------- FOOTER--------------*/
footer{
  background-color: black;
  
  
}
#basdepage{
  display: flex;
  justify-content: space-between;
  padding: 2%;;
}
#basdepage li a{
  color: white;
  flex-direction: row; 
  opacity: 0,5%;  
}
#basdepage li a:hover{
  color: rgb(255, 132, 0);
}









